/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 4rem;
}

.nav-logo {
  padding: 0.7rem 1.3rem;
  background-color: #1a0c47;
  color: white;
  text-shadow: 2px 2px 4px #93c088;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1.3px;
  line-height: 1.7;
  font-size: 20px;
  border-radius: 22px;
  box-shadow: 3px 3px 4px lightgray;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
}

.nav-menu li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-menu li a {
  font-size: 16px;
}

.nav-menu li a:hover {
  color: #ce3f0e;
}

.user-registration {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 12px;
  align-items: center;
  box-shadow: 2px 2px 4px #bfb8cc, -2px -2px 4px #bfb8cc;
}

.form-input {
  margin: 1rem 0;
}

.form-input p {
  margin-bottom: 8px;
}

.form-input input {
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  padding: 6px 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  padding: 1rem;
}

.dropdown-content p:hover {
  background-color: lightgrey;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img {
  margin-right: 4rem;
}

.cta-and-form {
  display: flex;
  flex-direction: column;
}

.cta-and-form a {
  margin: 1rem 2rem;
}
